<html ng-app="huoyun" ng-controller="appController">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="../libs/app.css?v=1499840681605" rel="stylesheet">
  <title ng-bind="title"></title>

</head>

<body class="huoyun">
  <div class="body-wrapper">
    <div class="body-wrapper-bg">
      <div class="form" ng-controller="LoginController">
        <header class="form-header">
          <h1>欢迎登录销售易</h1>
        </header>
        <div class="form-body">
          <ul>
            <li has-error="{{vm.email.hasError}}">
              <div class="form-input-warpper">
                <input type="text" class="form-input" ng-model="vm.email.value" name="email" placeholder="请输入邮箱" tabindex="1">
              </div>
              <span class="err-msg" ng-bind="vm.email.errorMessage"></span>
            </li>
            <li has-error="{{vm.password.hasError}}">
              <div class="form-input-warpper">
                <input type="password" class="form-input" ng-model="vm.password.value" name="password" placeholder="请输入密码" tabindex="2">
              </div>
              <span class="err-msg" ng-bind="vm.password.errorMessage"></span>
            </li>
          </ul>
        </div>
        <div class="form-footer">
          <div class="btn" tabindex="3" ng-click="login()">登 录</div>
        </div>
        <div class="margin-top-30">
          <a href="/forgetPassword.html" tabindex="4">忘记密码？</a>
        </div>
        <div class="margin-top-30">
          <span>没有账号?</span><span><a href="/register.html" class="register_link" tabindex="6" act="reg_link">免费注册</a></span>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- inject:js -->
<!-- endinject -->

</html>